In [7]:
# import all packages needed
import pandas as pd
import os

# Data path 
DIR_PATH = os.getcwd() + '/data/'

LISTING_FIlE = DIR_PATH + "listings.csv"
LISTING2_FIlE = DIR_PATH + "listings2.csv"
REVIEWS_FILE = DIR_PATH + "reviews.csv"
REVIEWS2_FILE = DIR_PATH + "reviews2.csv"
NEIGHBOURHOOD_FILE = DIR_PATH + "neighbourhoods.csv"

Open the data files needed for the Air BnB project

In [8]:
# Open all the data files and convert to a dataframe
def openFiles(file):
    # Convert to dataframe
    df = pd.read_csv(file, index_col=0)
    
    print("File opened successfuly")
    
    return df

In [9]:
listing_df = openFiles(LISTING_FIlE)

File opened successfuly

In [10]:
reviews2_df = openFiles(REVIEWS2_FILE)

File opened successfuly

In [11]:
listing2_df = openFiles(LISTING2_FIlE)

File opened successfuly

C:\Users\andre\AppData\Local\Temp\ipykernel_16388\823213661.py:4: DtypeWarning: Columns (68) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, index_col=0)

In [12]:
reviews_df = openFiles(REVIEWS_FILE)

File opened successfuly

In [13]:
neighborhood_df = openFiles(NEIGHBOURHOOD_FILE)

File opened successfuly

In [14]:
listing_df

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
id,,,,,,,,,,,,,,,,,
77765,Superior @ Box House,417504,The Box House Hotel,Brooklyn,Greenpoint,40.737770,-73.953660,Hotel room,308,2,42,2022-07-18,0.30,30,217,4,NaN
2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.645290,-73.972380,Private room,299,30,9,2018-10-19,0.11,9,356,0,NaN
45910,Beautiful Queens Brownstone! - 5BR,204539,Mark,Queens,Ridgewood,40.703090,-73.899630,Entire home/apt,425,30,13,2019-11-12,0.10,6,365,0,NaN
45935,Room in Beautiful Townhouse.,204586,L,Bronx,Mott Haven,40.806350,-73.922010,Private room,60,30,0,NaN,NaN,1,83,0,NaN
45936,Couldn't Be Closer To Columbia Uni,867225,Rahul,Manhattan,Morningside Heights,40.806300,-73.959850,Private room,75,31,135,2022-07-11,0.95,1,219,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27577588,Luxury Studio ON Grove Street E0C - B1CA,37412692,Kim,Manhattan,Ellis Island,40.718220,-74.037940,Entire home/apt,135,365,2,2019-09-16,0.04,7,365,0,NaN
654151117629853651,Lovely 3- bedroom apartment,117540494,Miriam,Queens,Rosedale,40.647244,-73.720088,Entire home/apt,180,1,5,2022-08-24,1.92,1,0,5,NaN
553754115911961053,Trendy 3-bedroom apartment near Manhattan,15048320,India,Manhattan,Upper West Side,40.787320,-74.004470,Entire home/apt,240,5,18,2022-08-22,2.87,1,152,18,NaN
698195550745703156,"Luxurious private waterfront terrace, 2BR 2BA Apt",151487807,Asser,Brooklyn,Williamsburg,40.709192,-73.970121,Entire home/apt,400,30,0,NaN,NaN,1,311,0,NaN
48971505,Just Blocks to Grove PATH and JC Med Ctr,46201,J,Manhattan,Ellis Island,40.718350,-74.044160,Private room,40,1,15,2021-10-25,0.91,1,0,4,NaN

In [15]:
listing_df = listing_df.drop('license', axis=1)

In [16]:
listing_df = listing_df.drop('availability_365', axis=1)

In [17]:
listing_df = listing_df.drop('calculated_host_listings_count', axis=1)

In [18]:
listing_df = listing_df.drop('minimum_nights', axis=1)

In [19]:
listing_df = listing_df.drop('price', axis=1)

In [20]:
listing_df = listing_df.drop('reviews_per_month', axis=1)

In [21]:
listing_df

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,number_of_reviews,last_review,number_of_reviews_ltm
id,,,,,,,,,,,
77765,Superior @ Box House,417504,The Box House Hotel,Brooklyn,Greenpoint,40.737770,-73.953660,Hotel room,42,2022-07-18,4
2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.645290,-73.972380,Private room,9,2018-10-19,0
45910,Beautiful Queens Brownstone! - 5BR,204539,Mark,Queens,Ridgewood,40.703090,-73.899630,Entire home/apt,13,2019-11-12,0
45935,Room in Beautiful Townhouse.,204586,L,Bronx,Mott Haven,40.806350,-73.922010,Private room,0,NaN,0
45936,Couldn't Be Closer To Columbia Uni,867225,Rahul,Manhattan,Morningside Heights,40.806300,-73.959850,Private room,135,2022-07-11,4
...,...,...,...,...,...,...,...,...,...,...,...
27577588,Luxury Studio ON Grove Street E0C - B1CA,37412692,Kim,Manhattan,Ellis Island,40.718220,-74.037940,Entire home/apt,2,2019-09-16,0
654151117629853651,Lovely 3- bedroom apartment,117540494,Miriam,Queens,Rosedale,40.647244,-73.720088,Entire home/apt,5,2022-08-24,5
553754115911961053,Trendy 3-bedroom apartment near Manhattan,15048320,India,Manhattan,Upper West Side,40.787320,-74.004470,Entire home/apt,18,2022-08-22,18
698195550745703156,"Luxurious private waterfront terrace, 2BR 2BA Apt",151487807,Asser,Brooklyn,Williamsburg,40.709192,-73.970121,Entire home/apt,0,NaN,0
48971505,Just Blocks to Grove PATH and JC Med Ctr,46201,J,Manhattan,Ellis Island,40.718350,-74.044160,Private room,15,2021-10-25,4

In [22]:
listing2_df

,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
id,,,,,,,,,,,,,,,,,,,,,
2539,https://www.airbnb.com/rooms/2539,20220907064715,2022-09-07,city scrape,Clean & quiet apt home by the park,Renovated apt home in elevator building.<br />...,Close to Prospect Park and Historic Ditmas Park,https://a0.muscache.com/pictures/3949d073-a02e...,2787,https://www.airbnb.com/users/show/2787,...,5.00,4.75,4.88,NaN,f,9,1,6,2,0.11
2595,https://www.airbnb.com/rooms/2595,20220907064715,2022-09-07,city scrape,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,https://a0.muscache.com/pictures/f0813a11-40b2...,2845,https://www.airbnb.com/users/show/2845,...,4.80,4.81,4.40,NaN,f,3,3,0,0,0.31
5121,https://www.airbnb.com/rooms/5121,20220907064715,2022-09-07,city scrape,BlissArtsSpace!,One room available for rent in a 2 bedroom apt...,NaN,https://a0.muscache.com/pictures/2090980c-b68e...,7356,https://www.airbnb.com/users/show/7356,...,4.91,4.47,4.52,NaN,f,2,0,2,0,0.31
45910,https://www.airbnb.com/rooms/45910,20220907064715,2022-09-07,city scrape,Beautiful Queens Brownstone! - 5BR,"<b>The space</b><br />Beautiful, fully furnish...",NaN,https://a0.muscache.com/pictures/27117627/19ff...,204539,https://www.airbnb.com/users/show/204539,...,5.00,4.82,4.55,NaN,f,6,6,0,0,0.10
5136,https://www.airbnb.com/rooms/5136,20220907064715,2022-09-07,city scrape,"Spacious Brooklyn Duplex, Patio + Garden",We welcome you to stay in our lovely 2 br dupl...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,7378,https://www.airbnb.com/users/show/7378,...,5.00,4.67,5.00,NaN,f,1,1,0,0,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43728504,https://www.airbnb.com/rooms/43728504,20220907064715,2022-09-08,previous scrape,Private Modern House by The Beach,Private modern house by the Beach with all com...,Rockaway Beach is a neighborhood that gives it...,https://a0.muscache.com/pictures/6c950656-b090...,23049030,https://www.airbnb.com/users/show/23049030,...,5.00,4.94,4.88,NaN,f,1,1,0,0,1.22
44578886,https://www.airbnb.com/rooms/44578886,20220907064715,2022-09-08,previous scrape,Beautiful apartment - minutes to NYC,Our apartment is straight across the river fro...,Our apartment is located in a very interesting...,https://a0.muscache.com/pictures/dd5163c1-7e02...,48009648,https://www.airbnb.com/users/show/48009648,...,4.96,4.81,4.85,NaN,f,1,1,0,0,2.12
46355090,https://www.airbnb.com/rooms/46355090,20220907064715,2022-09-08,previous scrape,"1 Bedroom Basement, NEWLY Renovated",With easy access to multiple bus stops and the...,NaN,https://a0.muscache.com/pictures/64c81ee7-b396...,371552251,https://www.airbnb.com/users/show/371552251,...,4.36,4.36,4.55,NaN,t,1,1,0,0,0.50
698195550745703156,https://www.airbnb.com/rooms/698195550745703156,20220907064715,2022-09-08,city scrape,"Luxurious private waterfront terrace, 2BR 2BA Apt","This two bed, two bath apartment overlooking t...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,151487807,https://www.airbnb.com/users/show/151487807,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
48971505,https://www.airbnb.com/rooms/48971505,20220907064715,2022-09-08,previous scrape,Just Blocks to Grove PATH and JC Med Ctr,Very convenient to the Grove St PATH (5 min wa...,NaN,https://a0.muscache.com/pictures/b12bc7dc-573c...,46201,https://www.airbnb.com/users/show/46201,...,4.73,4.87,4.47,NaN,f,1,0,1,0,0.91

In [23]:
neighborhood_df

                     neighbourhood
neighbourhood_group
Bronx                     Allerton
Bronx                   Baychester
Bronx                      Belmont
Bronx                    Bronxdale
Bronx                  Castle Hill
...                            ...
Staten Island          Tottenville
Staten Island        West Brighton
Staten Island          Westerleigh
Staten Island          Willowbrook
Staten Island              Woodrow

[230 rows x 1 columns]

In [24]:
reviews_df

                          date
listing_id
2539                2015-12-04
2539                2016-08-27
2539                2016-10-01
2539                2017-02-20
2539                2017-03-19
...                        ...
705982958145847356  2022-09-05
706000708692803625  2022-09-04
706477762633031457  2022-09-05
706487852182826405  2022-09-03
707272556257060819  2022-09-05

[1064458 rows x 1 columns]

Pre-processing Step:
- Clean the data frame to the needed attributes we need 
- Fill in the missing values or remove the na values if no reviews are also in the reviews2 table

In [25]:
# Fill in the missing value for the following columns: last_review
# For the column last_review it lets us know when the last review was posted if no reviews were made then the value is NaN
listing_last_review_df = listing_df[["number_of_reviews", "last_review"]]

In [26]:
# show all the NaN values
listing_last_review_df[listing_last_review_df.isna().any(axis=1)]

                    number_of_reviews last_review
id
45935                               0         NaN
51438                               0         NaN
54466                               0         NaN
11943                               0         NaN
113092                              0         NaN
...                               ...         ...
23185254                            0         NaN
629813073409916623                  0         NaN
637667152834352362                  0         NaN
670851597591736404                  0         NaN
698195550745703156                  0         NaN

[8362 rows x 2 columns]

In [27]:
reviews2_df

,id,date,reviewer_id,reviewer_name,comments
listing_id,,,,,
2539,55688172,2015-12-04,25160947,Peter,Great host
2539,97474898,2016-08-27,91513326,Liz,Nice room for the price. Great neighborhood. J...
2539,105340344,2016-10-01,90022459,Евгений,Very nice apt. New remodeled.
2539,133131670,2017-02-20,116165195,George,Great place to stay for a while. John is a gre...
2539,138349776,2017-03-19,118432644,Carlos,.
...,...,...,...,...,...
706487852182826405,707994213814611994,2022-09-03,179206698,Eman,Very tidy and lovely AirBnb studio equipped wi...
706611147133623424,707230144870147247,2022-09-02,339848823,David,The room is perfect for travelers like me who ...
706712410572332671,709394649699674170,2022-09-05,51119059,Caz,Loved staying here! It is a stunning place to ...
706752921121143414,709415974927452008,2022-09-05,456707191,Pablo,We really enjoyed our stay in Alberto's place....
707272556257060819,709356358670109209,2022-09-05,62541346,Taunda,What an amazing host! Great location!

In [28]:
listing_df.dtypes

name                      object
host_id                    int64
host_name                 object
neighbourhood_group       object
neighbourhood             object
latitude                 float64
longitude                float64
room_type                 object
number_of_reviews          int64
last_review               object
number_of_reviews_ltm      int64
dtype: object

In [29]:
reviews2_df.dtypes

id                int64
date             object
reviewer_id       int64
reviewer_name    object
comments         object
dtype: object

In [30]:
# check that in the listing_df table and reviews2_df table, if the listing has 0 reviews that is the same in the reviews2 table
# It does not exisit so we can drop all the rows with NaN values in listing_df
listing_df.dropna()

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,number_of_reviews,last_review,number_of_reviews_ltm
id,,,,,,,,,,,
77765,Superior @ Box House,417504,The Box House Hotel,Brooklyn,Greenpoint,40.737770,-73.953660,Hotel room,42,2022-07-18,4
2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.645290,-73.972380,Private room,9,2018-10-19,0
45910,Beautiful Queens Brownstone! - 5BR,204539,Mark,Queens,Ridgewood,40.703090,-73.899630,Entire home/apt,13,2019-11-12,0
45936,Couldn't Be Closer To Columbia Uni,867225,Rahul,Manhattan,Morningside Heights,40.806300,-73.959850,Private room,135,2022-07-11,4
80493,Cozy room in East Village with AC,434987,Jennifer,Manhattan,East Village,40.723220,-73.986150,Private room,207,2022-08-13,9
...,...,...,...,...,...,...,...,...,...,...,...
628769808856889664,Two bedroom apartment in Hoboken New Jersey.,14468718,Burak,Manhattan,West Village,40.740227,-74.027504,Entire home/apt,2,2022-07-29,2
27577588,Luxury Studio ON Grove Street E0C - B1CA,37412692,Kim,Manhattan,Ellis Island,40.718220,-74.037940,Entire home/apt,2,2019-09-16,0
654151117629853651,Lovely 3- bedroom apartment,117540494,Miriam,Queens,Rosedale,40.647244,-73.720088,Entire home/apt,5,2022-08-24,5
553754115911961053,Trendy 3-bedroom apartment near Manhattan,15048320,India,Manhattan,Upper West Side,40.787320,-74.004470,Entire home/apt,18,2022-08-22,18
48971505,Just Blocks to Grove PATH and JC Med Ctr,46201,J,Manhattan,Ellis Island,40.718350,-74.044160,Private room,15,2021-10-25,4